@{
    ViewBag.Title = "Home Page";
}

<body>


    <header>
        <div class="black">
            <img src="~/Content/imagen/black.png" alt="">
        </div>
        <div class="i">
            <img src="~/Content/imagen/llamada.png" alt="">
        </div>
        <div class="header__superior">
            <div class="logo">
                <a href="index.html">
                    <img src="~/Content/imagen/logo.png" alt="">
                </a>
            </div>
            <div class="search">
                <input type="search" placeholder="¿Qué deseas buscar?" />
            </div>
            <div>
                <img src="~/Content/imagen/bolsa.png" alt="Alternate Text" />
            </div>

        </div>

        <div class="container__menu">

            <div class="menu">
                <input type="checkbox" id="check__menu">
                <label for="check__menu" id="label__check">
                    <i class="fas fa-bars icon__menu"></i>
                </label>
                <nav>
                    <ul>

                        <li>
                            <a href="#">Categorias</a>
                            <ul>
                                <li><a href="#">Computacion</a></li>
                                <li><a href="#">Telefonos</a></li>
                                <li><a href="#">Audio</a></li>
                                <li><a href="#">Video</a></li>
                                <li><a href="#">Juegos</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Computacion</a></li>
                        <li><a href="#">Telefonos</a></li>
                        <li><a href="#">Audio</a></li>
                        <li><a href="#">Video</a></li>
                        <li><a href="#">Juegos</a></li>
                    </ul>
                </nav>
            </div>

        </div>
        <section>
            <img src="~/Content/imagen/menu.png" alt="Alternate Text" />
        </section>
        

    </header>


</body>